<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="mainWrapper" v-cloak>
        <h1>Notes</h1>
        <form @submit.prevent="addSubmit">
            <input required 
            @click.prevent type="text" 
            v-model="objValue.value" 
            :placeholder="objValue.placeholder">
            <button>Add</button>
        </form>
        <br>
        <div v-for="(note, index) in notes" :key="index">
            <p v-if="note.change === true">
                    <input @keyup.enter="acceptChange(note)" class="changeInput" type="text" v-model="newValue">
                    <button class="btnStn" @click="canselChange(note)">❌</button>
                    <button class="btnStn" @click="acceptChange(note)">✅</button>
            </p>
            <p @dblclick="onDoubleClick(note)" v-else-if="note.change === false" :key="note.lenght">
                {{note.value}} 
                <button class="btnStn" @click="deleteNote(index)">🗑️</button>
            </p>
        </div>
        <div class="info">
            Редактирование происходит при двойном клике на заметку 
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./appVue.js"></script>
</body>
</html>