<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="todoWrapper">
        <h1>TODO-LIST</h1>
        <input type="text" 
        @input="inputHandler"
        :value="inputValue"
        @keypress.enter="addNote"
        :placeholder="myPl">
        <p>{{warning}}</p>
        <p><button @click="addNote">Добавить</button></p>
        <div v-if="noteArr.length !== 0">
            <p v-for="(note, index) in noteArr">
                {{note}} 
                <button @click="deleteNote(index)">X</button>
            </p>
        </div> 
        <div v-else>Заметок нет</div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./vueApp.js"></script>
</body>
</html>